* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #ffe8cc;
}

#content {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.main-container {
  flex-grow: 0.5;
  padding: 0 4rem;
}

.main-container:nth-child(2) {
  flex-grow: 6;
  /* background-color: #ffd8a8; */
}

/***************/
/* Header */
/***************/
.header {
  display: flex;
  align-items: center;
  color: #332b22;
  border-bottom: #1c3434 solid 1px;
}

.logo {
  font-size: 4.5rem;
  flex-grow: 1;
}

.links {
  margin-left: auto;
  display: flex;
  list-style: none;
  gap: 1.3rem;
  font-size: 4rem;
  font-weight: 800;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #332b22;
}

a:hover,
a:active {
  color: #1c3434;
  transition: all 0.3s;
}

/***************/
/* Main */
/***************/

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('./assets/jakub-kapusnak.jpg');
  background-size: cover;
}

.home-info-container {
  /* display: flex; */
}

.text-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 8rem;
  color: white;
  text-shadow: 0px 0px 9px black;
}

.to-menu-button {
  font-size: 2.3rem;
  padding: 1.8rem 4rem;
  border: none;
  border: 1px solid black;
  border-radius: 4px;
}

/***************/
/* About us page */
/***************/

.aboutUs-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  width: 80rem;
  height: 50rem;
  border-radius: 4px;
  background-color: #e6c297;
  padding: 1rem 2rem;
}

.contactUs {
  align-self: center;
  font-size: 6rem;
}

.information {
  font-style: italic;
  font-size: 2rem;
}

/***************/
/* Menu */
/***************/

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: space-evenly;

  border-radius: 4px;
  height: 60rem;
  width: 80rem;
  background-color: #998265;
}

.item-container {
  display: flex;

  border-radius: 4px;
  margin: 0 2rem;
  background-color: #1c3434;
  font-size: 12rem;
  height: 16rem;
  overflow: hidden;
}

.item-img {
  /* flex-grow: 1; */
  width: 12rem;
}

img {
  height: 100%;
  width: 100%;
}

.item {
  flex-grow: 6;
  font-size: 2rem;
}

/***************/
/* Footer */
/***************/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
  font-weight: 900;
  color: #332b22;
}

.created-by {
  padding: 0.2rem 0;
  border-top: 1px solid #1c3434;
  border-bottom: 1px solid #1c3434;
}
