* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #ffe8cc;
}

#content {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.main-container {
  flex-grow: 0.5;
  padding: 0 4rem;
}
.main-container:nth-child(2) {
  flex-grow: 6;
  background-color: #ffd8a8;
}

.header {
  display: flex;
  align-items: center;
  color: #332b22;
}

.logo {
  font-size: 4.5rem;
  flex-grow: 1;
}

.links {
  margin-left: auto;
  display: flex;
  list-style: none;
  gap: 1.3rem;
  font-size: 3rem;
  font-weight: 800;
}

a:link,
a:visited {
  color: #332b22;
}

a:hover,
a:active {
  color: #1c3434;
  transition: all 0.3s;
}
